* {
	margin: 0;
}

div {
	height: 100vh;
	background-image: url("img/img1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	/* filter: blur(5px); */
	/* filter: brightness(50%); */
	/* filter: contrast(80%); */
	/* filter: grayscale(100%); */
	filter: saturate(50%);
}
