html {
	font-size: 2em;
}

body {
	font-size: 2rem;
}

header {
	background-color: teal;
	width: 70vw;
	height: 90vh;
}

section {
	width: 500px;
	height: 500px;
	background-color: gray;
}

div {
	width: 50%;
	height: 100%;
	background-color: peru;
}
