.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container a {
	text-decoration: none;
	border: 2px solid black;
	padding: 20px 40px;
	color: black;
	border-radius: 20px;
	/* transition: background-color 0.5s, color 0.5s, border 0.5s, box-shadow 0.5s; */
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}

a:hover {
	background-color: black;
	color: white;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
